.formulaire_titre {
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    font-style: italic;
    padding-bottom: 5%;
}

.formulaire {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding-left: 10%;
    padding-top: 2%;
}

.boite {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.Nom, .mail, .Naissance, .Metier, .Prenom, .Contact, .sujet {
    border: none;
    border-bottom: 2px solid grey;
}

.div_metier, .div_sujet, .contenu_sujet{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 3%;
}

.div_sujet{
    margin-top: -2%;
}

.div_nom, .div_mail, .div_naissance, .div_prenom, .div_contact{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 13%;
}

input:focus{
    outline: none;
}

form label {
    padding-bottom: 4%;
}

.gauche {
    width: 40%;
    padding-right: 8%;
    display: flex;
    flex-direction: column;
}

.GenreRadio{
    margin-bottom: 8%;
}

.droite {
    width: 48%;
    display: flex;
    flex-direction: column;
}

.imageContact {
    padding-top: 5%;
    padding-left: 7%;
}

#button-sbt {
    background-color: grey;
    width: 70px;
    height:40px;
    border-radius: 8px;
    margin-bottom: 5%;
}

.encadreRouge
{
    border: none;
    border-bottom: 2px solid red;
}
.encadreVert
{
    border: none;
    border-bottom: 2px solid green;
}

.foot
{   color: white;
    width: 100%;
    height: 8.5%;
    margin-top: 6%;
    background-color: #53301c;
}

.foot a{
    color: white;
}

.up{ 
    margin-top: 0%;
    margin-bottom: 0.5%;
}